html,
body {
  font-family: "Nunito", sans-serif;
}

/*-- Start Header CSS --*/
header.row {
  height: 4rem;
}

.logo-brand {
  height: 100%;
  padding-top: 0.8rem;
}

.logo {
  font-size: 1.7rem;
  color: #ffffff;
  text-transform: uppercase;
}

.logo:hover {
  color: #cfcdcd;
  text-decoration: none;
}

nav {
  padding-top: 1rem;
}

.list-link {
  font-size: 1.2rem;
  color: #5f5f5f;
}

.list-link:hover {
  color: #17a2b8;
  text-decoration: none;
}

/*-- End Header CSS --*/

/*-- Start Main CSS --*/
main {
  min-height: calc(100vh - 8.5rem);
  padding-top: 1.5rem;
}

.content {
  background-color: #fff !important;
  margin-bottom: 2rem;
}

.content h1 {
  color: #17a2b8;
  font-size: 2.5rem;
}

.bg-img {
  height: 100%;
  width: 100%;
  background-image: url(../img/bg-pattern.png);
  background-size: cover;
}

/*-- About Content --*/
.bio-img {
  float: left;
  max-width: 40%;
}

/*-- Portfoliio Content --*/
.card-row {
  margin: 0 auto;
}
.card-row .col-12 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  margin: 10px;
  padding: 0;
  width: 45% !important;
}
.card img {
  height: 190px;
  object-fit: cover;
}

.card-body {
  background-color: #17a2b8;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
}

.card h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
}

/*-- Contact CSS --*/
form label,
form input,
form textarea {
  width: 100%;
}

form input:focus,
form textarea:focus,
form button:focus {
  outline: 2px solid #17a2b8;
}

form input,
form textarea {
  border: 1px solid #dee2e6;
}

form label {
  color: #5f5f5f;
  font-size: 1.1rem;
}

form input {
  font-size: 0.8rem;
  height: 2rem;
  margin-bottom: 1rem;
  padding: 0 10px;
}

form input::placeholder {
  color: #c2c2c2;
}

form textarea {
  margin-bottom: 1rem;
}

form button {
  background-color: #17a2b8;
  color: #fff;
  padding: 8px 25px;
}

/*-- End Main CSS --*/

/*-- Start Footer CSS --*/
.stripe {
  height: 0.5rem;
}

.socket {
  height: 4rem;
  padding-top: 1.2rem;
}

/*-- End Footer CSS --*/

/*-- Bootstrap breakpoints

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

--*/
